<style>
    .building{
         border-radius: 5px;
         border: solid 2px #b9def0;
         width: 130px;
         height: 50px;
         text-align: center;
         line-height: 50px;
         margin: 5px;
     }
    .floor{
        border-radius: 5px;
        border: solid 2px #b9def0;
        width: 130px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
    }
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="col-xs-3 col-sm-3">
                <label class="control-label">单位:</label>
                <select name="company" id="company" class="form-control">
                    {volist name="companyList" id="company"}
                    <option value="{$company['id']}">{$company['name']}</option>
                    {/volist}
                </select>
            </div>
            <div class="col-xs-3 col-sm-3">
                <label class="control-label">楼:</label>
                <div id="building"></div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <label class="control-label">层:</label>
                <div id="floor"></div>
            </div>
        </div>
    </div>
    <div id="pressure"></div>
    <div id="flow" style="clear: both"></div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //绑定层change事件
    $("#floor").on('click','.floor', function () {
        $(".floor").removeClass('btn-success');
        $(".floor").addClass('btn-default');
        $(this).removeClass('btn-default');
        $(this).addClass('btn-success');
        let floorId = $(this).data('value');
        getData(floorId);
    });
    function getData(floorId) {
        $.ajax({
            url:"ajax/getDataByFloorId",
            type:"POST",
            data:{floor_id:floorId},
            success:function (res) {
                $("#pressure").empty();
                $("#flow").empty();
                let data = res.data;
                let pressure = data['pressure'];
                let flow = data['flow'];
                if (pressure.length > 0 ){
                    for (let i = 0; i < pressure.length; i++) {
                        $("#pressure").append("<div class='col-xs-4 col-sm-4'><h1 align='center'>"+pressure[i].monitor_object+"</h1><div  id='pressure-"+i+"' style='height: 300px'></div></div>");
                        //压力
                        var dom = document.getElementById("pressure-"+i);
                        var myChart = echarts.init(dom);
                        var option;
                        option = {
                            series: [{
                                radius:'60%',
                                clockwise:true,
                                type: 'gauge',
                                center: ["50%", "60%"],
                                startAngle: 200,
                                endAngle: -20,
                                min: pressure[i].min,//最小值
                                max: pressure[i].max,
                                splitNumber: 10,
                                itemStyle: {
                                    color: "#18bc9c"
                                },
                                progress: {
                                    show: true,
                                    width: 20
                                },

                                pointer: {
                                    show: true,
                                },
                                axisLine: {
                                    lineStyle: {
                                        width: 20
                                    }
                                },
                                axisTick: {
                                    distance: -45,
                                    splitNumber: 5,
                                    lineStyle: {
                                        width: 2,
                                        color: '#000'
                                    }
                                },
                                splitLine: {
                                    distance: -52,
                                    length: 14,
                                    lineStyle: {
                                        width: 3,
                                        color: '#000'
                                    }
                                },
                                axisLabel: {
                                    distance: -20,
                                    color: '#000',
                                    fontSize: 10
                                },
                                anchor: {
                                    show: false
                                },
                                title:  {
                                    offsetCenter: [0, 0]
                                },
                                detail: {
                                    valueAnimation: true,
                                    width: '60%',
                                    lineHeight: 30,
                                    height: '15%',
                                    borderRadius: 8,
                                    offsetCenter: [0, '60%'],
                                    fontSize: 30,
                                    fontWeight: 'bolder',
                                    formatter: function (value) {
                                        return '{value|' + value + '}{unit|MPa}';
                                    },
                                    rich: {
                                        value: {
                                            fontSize: 50,
                                            fontWeight: 'bolder'
                                        },
                                        unit: {
                                            fontSize: 20,
                                            color: '#000',
                                            padding: [0, 0, -20, 10]
                                        }
                                    },
                                    color: 'auto'
                                },
                                data: [{
                                    value: pressure[i].value
                                }]
                            }],
                        };

                        myChart.setOption(option, true);
                    }
                }
                if (flow.length > 0 ){
                    for (let i = 0; i < flow.length; i++) {
                        var currentValue;
                        if (flow[i].value[ flow[i].value.length - 1] == undefined) {
                            currentValue = 0;
                        } else {
                            currentValue = flow[i].value[ flow[i].value.length - 1] ;
                        }

                        $("#flow").append("<div class='col-xs-8 col-sm-8'><h1 align='center'>"+flow[i].monitor_object+"</h1><div  id='flow-"+i+"' style='height: 300px'></div>" +
                            "<h2 align='center' id='current-value-"+i+"'>瞬间流量 : " + currentValue + " L </h2>" +
                            "<h2 align='center' id='total-"+i+"'>总流量 : " + flow[i].total+ " m3</h2></div>");
                        //流量
                        var dom1 = document.getElementById("flow-"+i);
                        var myChart1 = echarts.init(dom1);
                        var option1;
                        option1 = {
                            tooltip: {
                                trigger: 'axis',
                                //在这里设置
                                formatter: '{c0}L'
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: flow[i].time
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                                data: flow[i].value,
                                type: 'line',
                                areaStyle: {},
                                color: '#87CEEB'
                            }]
                        };

                        if (option1 && typeof option1 === 'object') {
                            myChart1.setOption(option1);
                        }
                    }
                }
            }
        });
        setInterval(function () {
            $.ajax({
                url:"ajax/getDataByFloorId",
                type:"POST",
                data:{floor_id:floorId},
                success:function (res) {
                    let data = res.data;
                    let pressure = data['pressure'];
                    let flow = data['flow'];
                    if (pressure.length > 0 ){
                        for (let i = 0; i < pressure.length; i++) {
                            //压力
                            var dom = document.getElementById("pressure-"+i);
                            var myChart = echarts.init(dom);
                            var option;
                            option = {
                                series: [{
                                    radius:'60%',
                                    clockwise:true,
                                    type: 'gauge',
                                    center: ["50%", "60%"],
                                    startAngle: 200,
                                    endAngle: -20,
                                    min: pressure[i].min,//最小值
                                    max: pressure[i].max,
                                    splitNumber: 10,
                                    itemStyle: {
                                        color: "#18bc9c"
                                    },
                                    progress: {
                                        show: true,
                                        width: 20
                                    },

                                    pointer: {
                                        show: true,
                                    },
                                    axisLine: {
                                        lineStyle: {
                                            width: 20
                                        }
                                    },
                                    axisTick: {
                                        distance: -45,
                                        splitNumber: 5,
                                        lineStyle: {
                                            width: 2,
                                            color: '#000'
                                        }
                                    },
                                    splitLine: {
                                        distance: -52,
                                        length: 14,
                                        lineStyle: {
                                            width: 3,
                                            color: '#000'
                                        }
                                    },
                                    axisLabel: {
                                        distance: -20,
                                        color: '#000',
                                        fontSize: 10
                                    },
                                    anchor: {
                                        show: false
                                    },
                                    title:  {
                                        offsetCenter: [0, 0]
                                    },
                                    detail: {
                                        valueAnimation: true,
                                        width: '60%',
                                        lineHeight: 30,
                                        height: '15%',
                                        borderRadius: 8,
                                        offsetCenter: [0, '60%'],
                                        fontSize: 30,
                                        fontWeight: 'bolder',
                                        formatter: function (value) {
                                            return '{value|' + value + '}{unit|MPa}';
                                        },
                                        rich: {
                                            value: {
                                                fontSize: 50,
                                                fontWeight: 'bolder'
                                            },
                                            unit: {
                                                fontSize: 20,
                                                color: '#000',
                                                padding: [0, 0, -20, 10]
                                            }
                                        },
                                        color: 'auto'
                                    },
                                    data: [{
                                        value: pressure[i].value
                                    }]
                                }],
                            };

                            myChart.setOption(option, true);
                        }
                    }
                    if (flow.length > 0 ){
                        for (let i = 0; i < flow.length; i++) {
                            var currentValue;
                            if (flow[i].value[ flow[i].value.length - 1] == undefined) {
                                currentValue = 0;
                            } else {
                                currentValue = flow[i].value[ flow[i].value.length - 1] ;
                            }
                            $("#current-value-"+i).html("瞬间流量 : " + currentValue + " L");
                            $("#total-"+i).html("总流量 : " + flow[i].total+ " m3")
                            //流量
                            var dom1 = document.getElementById("flow-"+i);
                            var myChart1 = echarts.init(dom1);
                            var option1;
                            option1 = {
                                tooltip: {
                                    trigger: 'axis',
                                    //在这里设置
                                    formatter: '{c0}L'
                                },
                                xAxis: {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: flow[i].time
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                series: [{
                                    data: flow[i].value,
                                    type: 'line',
                                    areaStyle: {},
                                    color: '#18bc9c'
                                }]
                            };

                            if (option1 && typeof option1 === 'object') {
                                myChart1.setOption(option1);
                            }
                        }
                    }
                }
            });
        }, 5000)
    }
</script>

